<h1> Welcome to battle! </h1>
<h3> Please enter your names!<h3>

<form action="/names" method="post"> 
  <label for='player_one_name'>
    Player one name:
    <input type="text" name="player_one_name">
  </label>
  <label for='player_two_name'>
    Player two name:
    <input type="text" name="player_two_name">
  </label>
  <input type="submit" value="Submit">
</form>